html, body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /*background-color: #11131b;*/
  background-color: #00a5d7 !important;
  /*overflow: hidden;*/
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  height: calc(100vh - 56px);
}
.card {
  /*background-color: #1e1e1e;*/
  background: rgba(26,29,40,.3);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
}

/* 
    Navbar
*/
.navbar-link, a.navbar-item {
  color: #6a748e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins",sans-serif;
}

.navbar-link.is-active, a.navbar-item.is-active {
  position: relative;
  color: #fff;
}

.navbar-link.is-active, a.navbar-item.is-active::after {
  content: "";
  display: block;
  border-bottom: 1px solid #a65a08;
  width: 50%;
  height: 3px;
  transform: translateX(30%);
  position: absolute;
  top: 53px;
}

a.navbar-link i.left, a.navbar-item i.left {
  font-size: 14px;
  margin-right: 10px;
}

.navbar-link:hover, a.navbar-item:hover {
  background-color: transparent;
  color: #a65a08;
}

nav {
  margin-bottom: 4rem;
  background-color: #000 !important;
}

.navbar-menu {
  background-color: #000 !important;
}

/*
    Estilo para inputs de login y register
*/
.no-border {
  border: none !important;
}

.background-transparent {
  background-color: transparent !important;
}

.input-loginregister {
  background: #2f323e;
  color: rgb(170, 170, 170) !important;
}

.input-loginregister::placeholder {
  color: rgb(170, 170, 170) !important;
}

.btnlr-success {
  background: #238636;
}

/*
    Colores de los botones principales
*/
.button.is-primary {
  background-color: #a65a08;
}

.button.is-primary:hover {
  background-color: #c47f00;
}

.button.is-primary:active, .button.is-primary.is-active {
  background-color: #8b5b00;
}
.btn-resources {
  background: rgba(26,29,40,.3);
  font-family: "Poppins",sans-serif;
  color: #fff !important;
  text-shadow: 0px 0px 15px rgb(21 24 33 / 70%);
  font-weight: bold;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 0px;
}
.btn-resources.production {
  background: rgba(0,255,243,.3);
}
.btn-resources.house {
  background: rgba(0,255,67,.3);
}
.btn-resources.food {
  background: rgba(223,123,0,.3);
}
.btn-resources.caress {
  background: rgba(221,221,221,.3);
}
/*
    P치gina de feed.html
*/
.land {
  animation: rain 0.4s linear infinite;
  /*background: url('../images/land.svg');
  background-repeat: no-repeat;
  background-position: center bottom;*/
  width: 80%;
  border-radius: 3px;
  height: 201px;
  background-color: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  overflow: hidden;
}
.land .floor {
  background: url('../images/land_floor.png') no-repeat;
  background-size: cover;
  width: 129px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.land .production {
  border-radius: 3px;
  border: 2px solid rgb(0 0 0 / 15%);
  /*background-color: rgb(0 0 0 / 50%);*/
  background-color: rgb(0 255 243 / 50%);
  width: fit-content;
  padding: 1px 7px;
  float: right;
  margin: 10px 10px 0px 0px;
  font-size: x-small;
  color: #fff;
}
.land .pet {
  /*background: url('images/pets/dog.png');*/
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  top: 44px;
  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
  /*animation: float 3s cubic-bezier(0.76, 0.83, 0.9, 0.55) infinite;*/
}
.land .coordinate {
  border-radius: 3px;
  border: 2px solid rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 50%);
  width: fit-content;
  padding: 1px 7px;
  bottom: 24px;
  margin: 0px 0px 10px 10px;
  font-size: x-small;
  color: #fff;
  position: absolute;
  text-transform: capitalize;
}
.land .resources {
  /*float: right;
  margin-right: calc(10ch - -59px);*/
  display: flex;
  float: right;
  /* margin-right: calc(10ch - -59px); */
  margin-top: 60px;
  margin-top: 90px;
  margin-right: 8px;
  z-index: 10;
  position: sticky;
}
.land .resources .item {
  border-radius: 3px;
  border: 2px solid rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 50%);
  width: fit-content;
  padding: 1px 7px;
  font-size: x-small;
  color: #fff;
  text-transform: capitalize;
  margin: 0px 2px;
}
.land .resources .item.have-house {
  background-color: rgb(0 255 67 / 50%);
}
.land .resources .item.have-food {
  background-color: rgb(223 123 0 / 50%);
}
.land .resources .item.have-caress {
  background-color: rgb(221 221 221 / 50%);
}
.land .resources .item.have-light {
  background-color: rgb(239 255 0 / 63%);
}
.land .time {
  border-radius: 3px;
  border: 2px solid rgb(0 0 0 / 15%);
  width: fit-content;
  padding: 1px 7px;
  margin: 10px 0px 1px 10px;
  color: #9a9fad;
  font-weight: bold;
  font-size: x-small;
  float: left;
  background: #151821;
  font-family: "Poppins",sans-serif;
}
.shop-options, .pet-options {
  width: 19%;
  height: 201px;
  float: right;
}
.shop-options .box, .pet-options .box {
  /*width: 60%;
  margin-left: 20%;
  margin-right: 20%;*/
  width: 100%;
  margin-left: 5px;
  border-radius: 3px;
  background: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  padding: 8.7px 0px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
.shop-options .box:hover, .pet-options .box:hover {
  background: rgb(255 255 255 / 15%);
  cursor: pointer;
}
.land-about-rarity.common, .coordinate.common, .pet.common, .time.common {
  filter: drop-shadow(#00ffdd 0px 0px 5px);
}
.land-about-rarity.uncommon, .coordinate.uncommon, .pet.uncommon, .time.uncommon {
  filter: drop-shadow(#001eff 0px 0px 5px);
}
.land-about-rarity.rare, .coordinate.rare, .pet.rare, .time.rare {
  filter: drop-shadow(#ff0026 0px 0px 5px);
}
.land-about-rarity.mythic, .coordinate.mythic, .pet.mythic, .time.mythic {
  filter: drop-shadow(#6f00ff 0px 0px 5px);
}

.land-map .land-view.common {
  background-color: #00ffdd;
}
.land-map .land-view.uncommon {
  background-color: #001eff;
}
.land-map .land-view.rare {
  background-color: #ff0026;
}
.land-map .land-view.mythic {
  background-color: #6f00ff;
}
.land-map .land-view.center {
  background-color: #d9ff00;
}
.navbar-btn-feed-left {
  float: left;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}
.pet-attr-number {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: #238636;
  margin-top: -18px;
  margin-right: -9px;
  float: right;
  text-align: center;
  font-weight: bold;
  /*font-size: 12px;*/
  color: #fff;
}
.pet-number-attr {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: -15px;
  background: rgb(0 0 0 / 10%);
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  border-left: 1px solid rgb(255 255 255 / 20%);
  margin-top: -10px;
  margin-bottom: -9px;
  top: 17px;
  float: right;
  right: 14px;
  height: 36px;
  line-height: 37px;
  width: 13px;
}
.no-cursor {
  cursor: auto !important;
}
.no-padding {
  padding: 0px !important;
}
.add-pet {
  width: 100%;
}
.add-pet div {
  width: max-content;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 24ch;
}
.add-pet i {
  color: #fff;
  text-align: center;
  font-size: 40px;
}
.pet-finish {
  background: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0px;
  border-radius: .25rem;
  left: 0px;
}
.resources .item.have-finish {
  filter: none;
  background-color: transparent !important;
  border: none;
  margin-top: -6px;
  margin-right: -9px;
}

/*
  P치gina shop.html
*/
.shop-card {
  /*color: #3c415c;
  border: 2px solid #000000;
  box-shadow: inset 0 -4px 0 #00000063;
  box-sizing: border-box;*/
  font-family: "Poppins",sans-serif;
}
.shop-card .title {
  font-weight: 700;
  line-height: 1.25;
  font-size: x-large;
  word-spacing: 1px;
  margin-bottom: 2px !important;
}
.shop-card .extrainfo {
  line-height: 1.25;
  font-size: 16px;
  word-spacing: 1px;
  margin-bottom: 15px !important;
}
.shop-card .description {
  min-height: 72px;
}
.shop-card p {
  margin-bottom: 20px !important;
}
.shop-card .durationusages {
  padding: 0px;
  padding-left: 12px;
}
.shop-options {
  height: auto;
  width: 100%;
  float: unset;
}
.shop-options .box {
  padding: 20px 0px;
  margin: 0px 0px 5px 0px;
}
.shop-product {
  background-color: rgb(255 255 255 / 5%);
  border: 1px solid rgb(255 255 255 / 20%);
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  border-radius: 3px;
  height: 201px;
  margin-bottom: 10px;
}
.shop-product .object {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  top: 49px;
}
.shop-button, .shop-button:hover, .shop-button:focus, .shop-button:active {
  font-family: "Poppins",sans-serif;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border: none;
  font-weight: bold;
  color: #fff;
  background: #1eb73b!important;
  border-radius: 8px;
  /*
  height: 40px !important;
  background: #71c638 !important;
  border: 2px solid #263f2a !important;
  box-shadow: 0 2px 0 rgb(0 0 0 / 20%), inset 0 -4px 0 #46881b, inset 0 2px 0 #b5ff84 !important;
  border-radius: 8px !important;
  padding: .25rem 1rem;
  font-size: .875rem;
  line-height: 1.5;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;*/
}

/*
  Land view
*/
.land-map {
  max-width: 575px;
  display: flow-root;
}
.land-map .land-view {
  width: calc(100% / 21) !important;
  border: 1px solid;
  height: 25px;
  background: green;
  color: #fff;
  float: left;
  font-size: xx-small;
  text-align: center;
  line-height: 25px;
}
.land-map .land-view:hover {
  filter: brightness(var(--value, 2));
  cursor: pointer;
}
.land-map .land-view.busy {
  background: #9f9f9f;
}
.land-map .land-view.onsale {
  background: yellowgreen;
}
.land-map .land-view.red {
  background: red;
}

/*
  Nubes
*/
.sky {
  background: linear-gradient(#00b3e8 0, #00a2d3 100%);
  box-shadow: 0 0 20px #d0e4f2;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
}
.sky .cloud {
  background: #ebf5fc;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 39px;
  margin-right: -102px;
  position: absolute;
  right: 0%;
  width: 102px;
}
.sky .cloud.variant-1 {
  top: 33%;
  -webkit-transform: scale(0.2);
  -webkit-animation: clouds-in-out 16s 0s infinite linear;
}
.sky .cloud.variant-2 {
  top: 45%;
  -webkit-transform: scale(0.4);
  -webkit-animation: clouds-in-out 17s 2s infinite linear;
}
.sky .cloud.variant-3 {
  top: 63%;
  -webkit-transform: scale(0.6);
  -webkit-animation: clouds-in-out 18s 4s infinite linear;
}
.sky .cloud.variant-4 {
  top: 36%;
  -webkit-transform: scale(0.8);
  -webkit-animation: clouds-in-out 19s 6s infinite linear;
}
.sky .cloud.variant-5 {
  top: 72%;
  -webkit-transform: scale(1);
  -webkit-animation: clouds-in-out 20s 8s infinite linear;
}
.sky .cloud.variant-6 {
  top: 81%;
  -webkit-transform: scale(0.7);
  -webkit-animation: clouds-in-out 30s 3s infinite linear;
}
.sky .cloud:before, .sky .cloud:after {
  background: #ebf5fc;
  border-radius: 100px;
  content: '';
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sky .cloud:after {
  height: 60px;
  left: auto;
  right: 12px;
  top: -24px;
  width: 60px;
}
.flashit{
  -webkit-animation: flash ease-out 10s infinite;
  -moz-animation: flash ease-out 10s infinite;
  animation: flash ease-out 10s infinite;
  animation-delay: 2s;
}
.rain {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/rain.png');
  background-size: cover;
  animation: rain 0.4s linear infinite;
  opacity: 0;
}
/*
  P치gina view_pet.html
*/
.view-pet {
  width: 100%;
  height: 420px;
}
.view-pet .pet {
  width: 37%;
  height: 37%;
  top: 64px;
}
.view-pet .floor {
  width: 229px;
  height: 142px;
}
.view-pet .coordinate, .view-pet .production, .view-pet .time {
  padding: 11px 27px;
  font-size: small;
}
.view-pet .resources {
  /*margin-right: calc(14ch - -59px);*/
  margin-top: 212px;
}
.view-pet .resources .item.btn {
  padding: 11px 18px;
}
.pet-tools {
  float: none;
  width: 100%;
  height: min-content;
}
.pet-tools .item {
  display: -webkit-box;
  line-height: 35px;
  font-size: x-small;
}
.pet-tools .item .box {
  width: 50px;
  margin-left: 0px;
  margin-right: 10px;
}
.land-about-rarity {
  border-radius: 3px;
  border: 2px solid rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 50%);
  width: fit-content;
  font-size: small;
  color: #fff;
  text-transform: capitalize;
  line-height: 17px;
  padding: 4px 10px;
  margin: 6px 6px 6px 0px;
  width: 100%;
  text-align: center;
}

/*
  P치gina inventory.html
*/
.inventorycontent {
  display: none;
  padding: 6px 33px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.inventory-view-land {
  width: 100%;
  height: 180px;
}
.inventory-view-land .coordinate.capacity {
  /*top: 0px;
  bottom: unset;
  margin: 34px 0px 0px 10px;*/
  filter: none;
  background-color: transparent;
  border: none;
}
.inventory-view-land .time {
  border: 2px solid rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 50%);
  font-size: x-small;
  color: #fff;
  margin-bottom: -27px;
}
.inventory-view-land .resources {
  margin-top: 140px;
  margin-right: 0px;
}
.inventory-view-land .item.have-house {
  filter: none;
  background-color: transparent !important;
  border: none;
  margin-left: 67px;
}
.inventory-view-land .resources.farm {
  margin-top: -68px;
  margin-right: 6px;
}
.inventory-view-land .item.have-light {
  margin-left: 87px;
  background-color: #f4c300 !important;
  border: none;
  padding: 2px 10px;
}
.inventory-view-land .floor {
  width: 161px;
  height: 100px;
  margin-top: 40px;
}
.inventory-view-land .time.quantity {
  filter: none;
  background-color: transparent;
  border: none;
}
.inventory-view-land .pet {
  height: 50%;
  animation: none;
  margin-top: -10px;
}
.disabled, .disabled:hover, .disabled:focus, .disabled:active {
  cursor: no-drop !important;
  background-color: gray !important;
  box-shadow: none !important;
}

/*
  Modal
*/
.ant-modal-centered {
  background: rgb(0 0 0 / 90%);
}
.ant-modal-content {
  background: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0px 0px 50px rgb(166 90 8 / 30%);
}
.ant-modal-header {
  background-color: #a65a08;
  border-bottom: 1px solid rgb(0 0 0 / 60%);
}
.ant-modal-body {
  background: rgb(166,90,8);
  background: -moz-linear-gradient(180deg, rgba(166,90,8,1) 0%, rgba(30,30,30,1) 60%);
  background: -webkit-linear-gradient(180deg, rgba(166,90,8,1) 0%, rgba(30,30,30,1) 60%);
  background: linear-gradient(180deg, rgba(166,90,8,1) 0%, rgba(30,30,30,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a65a08",endColorstr="#1e1e1e",GradientType=1);
}
.ant-modal-body .card {
  background: rgb(0 0 0 / 50%);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
}
.ant-modal-title {
  font-family: "Poppins",sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.ant-modal-body::-webkit-scrollbar {
  width: 10px;
}
.ant-modal-body::-webkit-scrollbar-track {
  background: #fff;
}
.ant-modal-body::-webkit-scrollbar-thumb {
  background: #a65a08;
}
.ant-modal-body::-webkit-scrollbar-thumb:hover {
  filter: brightness(2);
  cursor: pointer;
}
.ant-modal-confirm .ant-modal-body {
  border-radius: 15px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
  float: unset;
  justify-content: center;
  text-align: center;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn {
  width: 45%;
  font-family: "Poppins",sans-serif;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  background: #1eb73b !important;
}
.ant-modal-confirm .ant-modal-confirm-btns .ant-btn.ant-btn-primary {
  color: #fff;
  background: #b71e1e !important;
}


/*
  Egg
*/
.egg-incubation {
  border: none;
  background: none;
}
.egg-incubation .pet {
  height: 60%;
  margin-top: -30px;
}
.egg-incubation .resources.farm {
  margin-top: -70px;
}
.egg-incubation .coordinate.btn-egg {
  width: 100%;
  margin: 0px;
  bottom: 20px;
  right: 0px;
  text-align: center;
  background: none;
  border: none;
}
.egg-incubation .coordinate.btn-egg .item button {
  width: 60%;
}


/*
  Scrollbar
*/
::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 30%);
}
::-webkit-scrollbar-thumb {
  background: #000 !important;
}
::-webkit-scrollbar {
  width: 4px;
}

/*
  Animaciones
*/
@keyframes float {
	0% {
    filter: drop-shadow(#000 0px 5px 15px 0px);
		transform: translatey(0px);
	}
	50% {
    filter: drop-shadow(#000 0px 25px 15px 0px);
		transform: translatey(-3px);
	}
	100% {
    filter: drop-shadow(#000 0px 5px 15px 0px);
		transform: translatey(0px);
	}
}
@-webkit-keyframes rainbow-in-out {
  0% {
    -webkit-transform: rotate(180deg);
 }
  33% {
    -webkit-transform: rotate(360deg);
 }
  66% {
    -webkit-transform: rotate(360deg);
 }
  100% {
    -webkit-transform: rotate(540deg);
 }
}
@-webkit-keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
 }
  33% {
    opacity: 1;
    width: 60px;
 }
  66% {
    opacity: 1;
    width: 60px;
 }
  100% {
    opacity: 0;
    width: 0;
 }
}
@-webkit-keyframes clouds-in-out {
  0% {
    right: 0%;
 }
  100% {
    right: 105%;
 }
}
@-webkit-keyframes flash {
  0% { opacity: 1; } 
  2% { opacity: 0; }
  3% { opacity: 0.6; }
  4% { opacity: 0.2; }
  6% { opacity: 0.9; } 
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; } 
  2% { opacity: 0; }
  3% { opacity: 0.6; }
  4% { opacity: 0.2; }
  6% { opacity: .9; } 
  100% { opacity: 1; }
}
@keyframes rain {
  0% {
      background-position: 0 0;
      opacity: 1;
  }

  100% {
      background-position: 8% 80%;
      opacity: 1;
  }
}
@keyframes color-change {
  0% {
      filter: hue-rotate(0deg);
  }
  50% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}