@import "~bulma/sass/utilities/_all";


$primary: #a65a08;
$text-nav: #6a748e;
$text: #fff;
$danger: #f14668;
$common: #00ffdd;
$uncommon: #001eff;
$rare: #ff0026;
$mythic: #6f00ff;

$input-background-color:#2f323e;
$input-placeholder-color:rgb(170, 170, 170);

.button.is-primary {
    background-color: $primary;
    transition: 300ms;
}

.button.is-primary:hover {
    background-color: #c47f00;
}

.button.is-primary:active {
    background-color: #8b5b00;
}
