@import "@/css/colors.scss";

// SELECCION DE TEXTO
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// ARRASTRAR IMAGENES
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
 }


html,
body {
  background-color: #11131b;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.bg-btn {
  background-color: transparent;
}


