@import "@/css/colors.scss";

// SELECCION DE TEXTO
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// ARRASTRAR IMAGENES
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
 }


html,
body {
  background-color: #40c0ff !important;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
    overflow: hidden;


}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  height: calc(100vh - 56px);
}

.card {
  /*background-color: #1e1e1e;*/
  background: rgba(26,29,40,.3);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
}

.no-cursor {
  cursor: auto !important;
}

.bg-btn {
  background-color: transparent;
}


